/* CSS declarations go here */
body {
  /*background: url('img/broken-noise.png');*/
}
#__blaze-root {
  background: linear-gradient(#3F51B5, #424242);
  /*background-color: rgba(81, 103, 224, 0.33);*/
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  overflow: hidden;
}

* {
  user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.hour-ticks li {
  padding-right: calc(100%/12 - 1px);
  width: 2em;
  margin: .64em -1em -.64em;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px #E0E0E0;
}
.hour-ticks li:nth-child(even) {
  display: none;
}
.hour-ticks li:before {
  content: '';
  position: absolute;
  border-left: 0px solid #ccc;
  height: .64em;
  top: -.64em;
  right: 3em;
}
.hour-ticks, .hour-ticks li {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.hour-ticks {
  margin: 0;
  height: 3em;
  white-space: nowrap;
  width: 100%;
}
div.hours-container {
  width: 100%;
  display: flex;
}
div.day-card {
  border: 4px solid #fff;
}
div.time-box {
  background-color: #D8E0E8;
  padding: 0px;
  border-radius: 8px;
  height: 145px;
  cursor: default;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
div.time-box-container {
  display: flex;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-flow: column;
}
.line:hover {
	z-index: 1;
}
.time-text-container {
	height: 3rem;
  font-size: 1rem;
	background-color: #711A57;
	display: inline-block;
	padding: 4px;
	border: 2px solid #2A2;
	border-radius: 4px;
	color: #eee;
	text-shadow: 2px 2px 2px #000;
	box-shadow: 1px 1px 5px 0px #000;
}
.line {
  height: 140px;
	width: 2px;
	background-color: #111;
	position: absolute;

	box-shadow: 1px 1px 10px -1px #000;

}
.good {
  background-color: rgba(34, 170, 34, 0.5);
}
.bad {
	background-color: #a22;
}

.wide {
  width: 90%;
}
.event-info {
  font-size: 24px;
}
th.event-info {
  font-size: 20px !important;
}
.day-date {
  font-size: 24px;
}

div.submit-name-area {
  width: 150px;
}
input.submit-name {
  box-shadow: 10px 0px 0px 20px #fff;
  background-color: #fff;
}
.submit-name-label {

}
button.submission-button {
  box-shadow: 0px 0px 0px 7px #fff;
}
.event-name-cell {
  max-width: 200px;
  overflow: hidden;
}
.create-area {

  width: 512px;
  margin: 5vh auto;
  height: 57vh;
}
.create-filler {
  height: calc(33vh - 164px);
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
div.mdl-dialog__content {
    padding: 20px 0px 24px;
}
.floating-submit-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    background-color: #fff;
    border-radius: 30px;
}
form {
  width: 300px;
  margin: auto;
}
.centered {
  margin: auto;
}
.spaced {
  margin-top: 8px;
  margin-bottom: 16px;
}
.full-width.mdl-card {
  width: 90%;
}

.results-info-table {
  height: 200px;
  width: 100%;
}


.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.hide.show:hover {
  visibility: visible;
}

.line.interval {
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  box-shadow: none;
  height: 145px;
  bottom: 42px;
}

li.submitter-name {
  display: inline-block;
}
div.submitter-info {
  padding: 0 16px;
  height: 200px;
  width: 100%;
  overflow-y: auto;
}
.results-header {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin: auto;
}
.header-table-wrapper {
  display: flex;
  margin-right: 8px;
  width: 100%;
}
.submitter-info {
  display: flex;
}
.mdl-layout__content {
  width: 100%;
}
.day-title {
  font-size: 24px;
  background-color: #eee;
  height: 80px;
  width: 100%;
}
.day-time-container {
  height: 200px;
  width: 100%;
  background-color: #aaa;
  border: 1px solid #222;
  border-radius: 4px;
}
.mdl-card__supporting-text {
  margin: auto;

}
.mdl-card__actions {
  margin-top: 1rem;
}
.submit-event {
  float: right;
}
.event-link {
  display: none;
}
dialog.mdl-dialog {
  width: 400px;
}
label.mdl-textfield__label:after {
  bottom: 15px;
}
.mdl-mini-footer {
  bottom: 0px;
  width: 100vw;
}
div.password-field {
  display: none;
}
@media screen and (max-width: 512px) {
  .demo-card-wide.mdl-card {
    top: 0px;
    width: 100%;
    height: 100vh;
  }
  .create-area {
    width: 100vw;
    margin: 0;
  }
  .create-filler {

    min-height: 43vh;
  }
  form {
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    height: 40vh;
  }

  dialog.mdl-dialog {
    width: 100vw;
  }
  .mdl-dialog__content {
    padding: 24px 0;
  }
}
@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
  .create-filler {
    height: calc(33vh - 156px);
  }
}
@media screen and (max-width: 760px) {
  .create-filler {
    height: calc(33vh - 196px);
  }
}
