* {
	margin: 0;
	padding: 0;


	font-family: helvetica;
	color: #212121
}
body {
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fafafa;
	width: 100vw;
}
.event-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: #e91e63;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}
.info-area {
	background-color: #fff;
	display: flex;
	width: 80%;
	height: 80%;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #fafafa;
	margin-top: 16px;
}
.day {
	display: flex;
	flex-direction: column;
	width: 90%;
	background-color: #FFF;
	/*padding: 16px 32px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
	overflow-y: hidden;
	max-height: 356px;
	transition: max-height 0.3s cubic-bezier(.25,.8,.25,1);
}
.day-date {
	font-size: 24px;
	background-color: white;
	padding: 16px;
	cursor: pointer;
}
.day-date:hover {
	background-color: #f3f3f3;
}
.block {
	display: flex;
	height: 200px;
	background-color: #ccd;
	position: relative;
	cursor: cell;
	margin: 36px 24px 8px;
}
.time-block {
	display: flex;
	height: 200px;
	width: 40px;
	background-color: #05DC33;
	position: absolute;
	bottom: 0px;
	cursor: move;
	z-index: 0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.2s cubic-bezier(.25,.8,.25,1);
}
.time-block:hover {
	z-index: 3 !important;
	box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
}
.time-block:active {
	background-color: #07FF00;
	z-index: 3 !important;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 16px rgba(0,0,0,0.22);
}
.handle {
  height: 100%;
	min-width: 2px;
	width: 5%;
	max-width: 10px;
  background-color: rgba(0, 95, 54, 0.5);
  position: absolute;
}
.left {
  left: 0px;
	cursor: w-resize;
}
.right {
  right: 0px;
	cursor: e-resize;
}
.left:hover {
	cursor: w-resize;
}
.time-indicator {
	color: #eee;
	background-color: #524;
	z-index: 1;
	border-radius: 10px 10px 0 0;
	padding: 5px;
	position: absolute;
	top: -33px;
	line-height: 20px;
	white-space: nowrap;
	cursor: default;
	box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px black;
	left: 3px;
}
.time-marks {
	display: flex;
	justify-content: space-between;
	margin: 8px 24px;
}
.time-mark {
	display: flex;
	width: 0px;
	transform: translateX(-5px);
	color: #616161;
}
.fab {
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	position: fixed;
	bottom: 4%;
	right: 4%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: darkgreen;
	box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.24);
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.2s cubic-bezier(.25,.8,.25,1);
	color: white;
	font-size: 56px;
	cursor: pointer;
}
.fab:hover {
	box-shadow: 0 12px 24px rgba(0,0,0,0.12), 0 12px 12px rgba(0,0,0,0.24);
}
.fab:active {
	box-shadow: 0 18px 36px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.24);
}
.modal-wrapper {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 300ms cubic-bezier(.25,.8,.25,1);
}
.modal-show {
	opacity: 1;
	pointer-events: all;
}
.modal-hide {
	opacity: 0;
	pointer-events: none;
	transition-delay: 150ms;
}
.modal {
	display: center;
	width: 400px;
	height: 300px;
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.24);
	font-size: 24px;
	padding: 32px;
	transition: transform 300ms cubic-bezier(.25,.8,.25,1) 150ms;
}
.modal-down {
	transform: translateY(0px);
}
.modal-up {
	transform: translateY(-70vh);
	transition-delay: 0ms;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	height: 200px;
	background-color: #212121;
	color: #e0e0e0;
}
